# Generated via ChatGPT based on URL. Amazing stuff.
openapi: 3.0.0
info:
  title: NBP API
  description: API for currency exchange rates and gold prices provided by the National Bank of Poland.
  version: 1.0.0
servers:
  - url: https://api.nbp.pl
paths:
  /api/exchangerates/tables/{table}/:
    get:
      summary: Get exchange rate tables
      parameters:
        - name: table
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/table'
        - name: format
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/format"
      responses:
        '400':
          $ref: "#/components/responses/400"
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        '404':
          description: Not found
  /api/exchangerates/rates/{table}/{code}/:
    get:
      summary: Get exchange rate for a specific currency
      parameters:
        - name: table
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/table'
        - name: code
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/code'
        - name: format
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/format"
      responses:
        '400':
          $ref: "#/components/responses/400"
        '200':
          description: Successful response with the exchange rate of the specified currency
          content:
            application/json:
              schema:
                type: object
                properties:
                  table:
                    $ref: "#/components/schemas/table"
                  "no":
                    type: string
                    description: The table number
                  effectiveDate:
                    type: string
                    format: date
                    description: Date of the exchange rate publication
                  rates:
                    type: array
                    items:
                      type: object
                      properties:
                        currency:
                          type: string
                          description: Full name of the currency (e.g., "US Dollar")
                        code:
                          type: string
                          description: ISO 4217 currency code
                        bid:
                          type: number
                          description: Buy rate (only for table C)
                        ask:
                          type: number
                          description: Sell rate (only for table C)
                        mid:
                          type: number
                          description: Mid-rate (for tables A and B)
        '404':
          description: Currency not found or data not available
  /api/exchangerates/rates/{table}/{code}/{date}/:
    get:
      summary: Get exchange rate for a specific currency on a specific date
      parameters:
        - name: table
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/table'
        - name: code
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/code'
        - name: date
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/date"
        - name: format
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/format"
      responses:
        '400':
          $ref: "#/components/responses/400"
        '200':
          description: Successful response with the exchange rate of the specified currency on the specified date
          content:
            application/json:
              schema:
                type: object
                properties:
                  table:
                    $ref: "#/components/schemas/table"
                  "no":
                    type: string
                    description: The table number
                  effectiveDate:
                    $ref: "#/components/schemas/date"
components:
  responses:
    400:
      description: 400 Bad Request
  schemas:
    date:
      type: string
      pattern: '^\d{4}-\d{2}-\d{2}$'
      description: Date in the format `YYYY-MM-DD` for the exchange rate query.
    code:
      type: string
      example: 'USD'
      description: |
        ISO 4217 three-letter currency code (e.g., `USD` for US Dollar, `EUR` for Euro)
    format:
      type: string
      example: json
      enum: [ json, xml ]
      description: Format of the response. Default is JSON if not specified.
    table:
      type: string
      example: A
      enum: [A, B, C]
      description: |
        Type of table:
          * `A` - average exchange rates (mid-rate)
          * `B` - less common currencies (mid-rate)
          * `C` - buy and sell rates (bid/ask)
